{% extends 'p2p_website/base.html' %}
{% load staticfiles %}

{% block title_block %}
Index
{% endblock %}

{% block content_block %}
<div class="banner">
  <div class="banner-info">
    <h3>想获取贷款数据？</h3>
    <a href="" style="font-size:20px" class="btn btn-block btn-large btn-warning">获取数据</a>
  </div>
</div>
<div class="container m-t-lg">
  <h6><span class="glyphicon glyphicon-fire text-danger"></span>优质贷款</h6>
  <div class="list-group">
    <a href="borrow_info.html" class="list-group-item">
      <p class="list-group-item-text row">
        <div class="col-sm-4">
          标题
        </div>
        <div class="col-sm-2">
          当前利率
        </div>
        <div class="col-sm-2">
          金额
        </div>
        <div class="col-sm-2">
          期限
        </div>
        <div class="col-sm-2">
          进度
        </div>
      </p>
    </a>
    <a href="#" class="list-group-item">
      <div class=" row">
        <div class="col-sm-4">
          <p class="titles">标题按实际福利卡设计费sfdaafdsafdsaf</p>
          <div><span class="glyphicon glyphicon-user"></span>kasjfklajsfl</div>
	</div>
        <div class="col-sm-2">
          <strong>12%</strong>
        </div>
        <div class="col-sm-2">
          <strong>2000</strong>元
        </div>
        <div class="col-sm-2">
          <strong>1</strong>年
        </div>
        <div class="col-sm-2">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60%
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item">
      <div class=" row">
        <div class="col-sm-4">
          <p class="titles">标题按实际福利卡设计费sfdaafdsafdsaf</p>
          <div><span class="glyphicon glyphicon-user"></span>kasjfklajsfl</div>
	</div>
	<div class="col-sm-2">
	  <strong>12%</strong>
	</div>
        <div class="col-sm-2">
          <strong>2000</strong>元
        </div>
        <div class="col-sm-2">
          <strong>1</strong>年
        </div>
        <div class="col-sm-2">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60%
            </div>
          </div>
        </div>
      </div>
    </a>
    
    <a href="#" class="list-group-item">
      <div class=" row">
        <div class="col-sm-4">
          <p class="titles">标题按实际福利卡设计费sfdaafdsafdsaf</p>
          <div><span class="glyphicon glyphicon-user"></span>kasjfklajsfl</div>
	</div>
	<div class="col-sm-2">
	  <strong>12%</strong>
	</div>
	<div class="col-sm-2">
          <strong>2000</strong>元
        </div>
        <div class="col-sm-2">
          <strong>1</strong>年
        </div>
        <div class="col-sm-2">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60%
            </div>
          </div>
        </div>
      </div>
    </a>
    
    <a href="#" class="list-group-item">
      <div class=" row">
        <div class="col-sm-4">
          <p class="titles">标题按实际福利卡设计费sfdaafdsafdsaf</p>
          <div><span class="glyphicon glyphicon-user"></span>kasjfklajsfl</div>
        </div>
        <div class="col-sm-2">
          <strong>12%</strong>
        </div>
        <div class="col-sm-2">
          <strong>2000</strong>元
        </div>
        <div class="col-sm-2">
          <strong>1</strong>年
        </div>
        <div class="col-sm-2">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60%
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item">
      <div class=" row">
        <div class="col-sm-4">
          <p class="titles">标题按实际福利卡设计费sfdaafdsafdsaf</p>
          <div><span class="glyphicon glyphicon-user"></span>kasjfklajsfl</div>
        </div>
        <div class="col-sm-2">
          <strong>12%</strong>
        </div>
        <div class="col-sm-2">
          <strong>2000</strong>元
        </div>
        <div class="col-sm-2">
          <strong>1</strong>年
        </div>
        <div class="col-sm-2">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60%
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item">
      <div class=" row">
        <div class="col-sm-4">
          <p class="titles">标题按实际福利卡设计费sfdaafdsafdsaf</p>
          <div><span class="glyphicon glyphicon-user"></span>kasjfklajsfl</div>
        </div>
        <div class="col-sm-2">
          <strong>12%</strong>
        </div>
        <div class="col-sm-2">
          <strong>2000</strong>元
        </div>
        <div class="col-sm-2">
          <strong>1</strong>年
        </div>
        <div class="col-sm-2">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60%
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item">
      <div class=" row">
        <div class="col-sm-4">
          <p class="titles">标题按实际福利卡设计费sfdaafdsafdsaf</p>
          <div><span class="glyphicon glyphicon-user"></span>kasjfklajsfl</div>
        </div>
        <div class="col-sm-2">
          <strong>12%</strong>
        </div>
        <div class="col-sm-2">
          <strong>2000</strong>元
        </div>
        <div class="col-sm-2">
          <strong>1</strong>年
        </div>
        <div class="col-sm-2">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60%
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}
