{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
借款人信息
{% endblock %}

{% block content_block %}
<div class="top">
  <div class="div-img">
    <img class="image" src = "{% static 'p2p_website/images/icon1.png' %}"/></div>
  <h4 >借款人：<span>hh14300240009</span></h4>
  <div class="bg_black">
    <h6>成功借款数：<span>10</span>&nbsp&nbsp|&nbsp&nbsp 借款信用：<span>50</span></h6>
    <p>学历：<span>大专</span>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp 年龄：<span>20</span>&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp 收入：<span>>5000</span></p>
  </div>
  <div class="btn">
    <a href="#" class="link">历史记录分析</a>
  </div>
</div>
<div style="height:40px;width:100%"></div>
<div class="main_body">
  <div>
    <div style="height:40px;width:100%"></div>
    <div class="section clearfix">
      <div class="title">
	<span style="padding-left:20px;padding-top:10px">hh14300240009的第<span>1</span>次借款</span>
      </div>
      <div class="detail">
	<span style="padding-left:20px;font-size: 14px;color: #666;padding-top:10px">借款种类：<span>~~</span></span><br/>
	<dl class="specify">
	  <dt class="small_dt">借款金额:</dt>
	  <dt class="large_dt">
	    ¥<span>10000</span>
	  </dt>	
	</dl>
	<dl class="specify">
	  <dt class="small_dt">年利率:</dt>
	  <dt class="large_dt">
	    <span>12</span>%
	  </dt>	
	</dl>
	<dl class="last_dl">
	  <dt class="small_dt">借款期限:</dt>
	  <dt class="large_dt">
	    <span>12</span>个月
	  </dt>	
	</dl>
	<span style="padding-left:20px;font-size: 14px;color: #666;">借款时间：<span>2016-10-10</span></span><br/>
      </div>
    </div>
  </div>



  <div>
    <div style="height:20px;width:100%"></div>
    <div class="section clearfix">
      <div class="title">
	<span style="padding-left:20px;padding-top:10px">hh14300240009的第<span>2</span>次借款</span>
      </div>
      <div class="detail">
	<span style="padding-left:20px;font-size: 14px;color: #666;padding-top:10px">借款种类：<span>~~</span></span><br/>
	<dl class="specify">
	  <dt class="small_dt">借款金额:</dt>
	  <dt class="large_dt">
	    ¥<span>10000</span>
	  </dt>	
	</dl>
	<dl class="specify">
	  <dt class="small_dt">年利率:</dt>
	  <dt class="large_dt">
	    <span>12</span>%
	  </dt>	
	</dl>
	<dl class="last_dl">
	  <dt class="small_dt">借款期限:</dt>
	  <dt class="large_dt">
	    <span>12</span>个月
	  </dt>	
	</dl>
	<span style="padding-left:20px;font-size: 14px;color: #666;">借款时间：<span>2016-10-10</span></span><br/>
      </div>
    </div>
  </div>

  <div>
    <div style="height:20px;width:100%"></div>
    <div class="section clearfix">
      <div class="title">
	<span style="padding-left:20px;padding-top:10px">hh14300240009的第<span>3</span>次借款</span>
      </div>
      <div class="detail">
	<span style="padding-left:20px;font-size: 14px;color: #666;padding-top:10px">借款种类：<span>~~</span></span><br/>
	<dl class="specify">
	  <dt class="small_dt">借款金额:</dt>
	  <dt class="large_dt">
	    ¥<span>10000</span>
	  </dt>	
	</dl>
	<dl class="specify">
	  <dt class="small_dt">年利率:</dt>
	  <dt class="large_dt">
	    <span>12</span>%
	  </dt>	
	</dl>
	<dl class="last_dl">
	  <dt class="small_dt">借款期限:</dt>
	  <dt class="large_dt">
	    <span>12</span>个月
	  </dt>	
	</dl>
	<span style="padding-left:20px;font-size: 14px;color: #666;">借款时间：<span>2016-10-10</span></span><br/>
      </div>
    </div>
  </div>
</div>
{% endblock %}
